.Semi-Container{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    flex-wrap: wrap;
}

.CardOne{
    padding: 10px;
}

.recipedetails h1{
    font-size: 30px;
    padding: 10px;
    color: rgb(95, 56, 9);
}

.recipedetails p {
    padding: 10px;
    /* line-height: 1px; */
}

.recipeingredient{
    line-height: 1px;
}

.brand-logo{
    height: 8vh;
    width: 5vw;
    border-radius: 30px;
    margin-top: 4px;
}

.purchasepage{
    padding: 10px;
}

